<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.shirodemo.mapper.UserMapper">
    <resultMap id="userMapper" type="com.shiro.shirodemo.model.User">
        <id column="uid" property="uid"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.shiro.shirodemo.model.Role" >
            <id column="rid" property="rid"/>
            <result property="name" column="name"/>
            <collection property="permisionSet" ofType="com.shiro.shirodemo.model.Permision">
                <id property="pid" column="pid"/>
                <result property="name" column="name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findUserByUserName" parameterType="java.lang.String" resultMap="userMapper" >
        select * from user where name=#{userName}
    </select>
</mapper>